<%- include('partials/head'); %>
<%- include('partials/navbar'); %>

<div class="landing-page">
  <h1>Vytvoř si svou slepou mapu</h1>
  <a class="start-creating" href="/tests">Začit tvořit</a>
</div>

  
<%- include('partials/footer'); %>
